/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative; /* Ensure header is positioned relatively */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #035E7B;
    padding: 0 230px;
    height: 100px;
    max-height: 100px;
    z-index: 2; /* Higher z-index to ensure it's above other elements */
}

.logo img {
    max-height: 90%;
    height: auto;
    width: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #44CECC;
}

.body-section {
    
    display: flex;
    justify-content: space-between;
    margin: 0  230px;
    padding-top: 80px;
    height: calc(100vh - 100px); /* Adjust height to fill the viewport minus the header */
}

.text-content {
    flex: 1;
    padding-right: 20px;
    align-items: center; /* Center vertically */
}

.image-content {
    position: relative; /* Position relative to move image down and align it */
    max-height: 468px;
}

.image-content img {
    max-height: 100%;
    height: auto;
    width: auto;
    border-radius: 0 40px;
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 70px;
    font-weight: normal;
    color: #035E7B;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #62466B;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
}


@media (max-width: 1200px) {
    .body-section {
        margin: 50px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .body-section {
        flex-direction: column;
        margin: 20px;
        height: auto;
    }

    .text-content, .image-content {
        flex: none;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .image-content img {
        max-width: 100%;
        height: auto;
    }
}
